<div>
	<div>		
		<h1>URL Voodoo</h1>
		<p>
		Lengthy URLs got you down?  This app makes it a snap to create more manageable links.  No more will you be forced to paste those gaudy behemoths to share with your friends.  Soon your links will be the envy of your social network!
		</p>
		<p>
		Just enter your nasty long links below and...  POOF!  A shiny, new, <i>shorter</i> link comes out!
		</p>
		<form action="/links" method="POST">
			<div>
				<label for="fieldLink">Enter Bulky Link</label>
				<div>
					<input type="url" id="fieldLink" name="link">
				</div>
				<div>
					<button type="submit">
						Voodoo!
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
