<div class="container home">

	<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
		
		<h1>URL Voodoo</h1>
		<p>
		Lengthy URLs got you down?  This app makes it a snap to create more manageable links.  No more will you be forced to paste those gaudy behemoths to share with your friends.  Soon your links will be the envy of your social network!
		</p>
		<p>
		Just enter your nasty long links below and...  POOF!  A shiny, new, <i>shorter</i> link comes out!
		</p>
		<form action="/links" method="POST">
			<div class="form-group">
				<label for="fieldLink" class="col-sm-4 control-label">Enter Bulky Link
				</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="fieldLink" name="link">
				</div>
				<div class="col-sm-4">
					<button type="submit" class="btn btn-default">
						Voodoo!
					</button>
				</div>
			</div>
		</form>
	</div>

</div>
