<div class="wrapper">		
	<div id="intro">
		<p>
		Lengthy URLs got you down?  This app makes it a snap to create more manageable links.  No more will you be forced to paste those gaudy behemoths to share with your friends.  Soon your links will be the envy of your social network!
		</p>
	</div>
	<div id="cta">
		<p>
		Just enter your nasty long links below and...  POOF!  A shiny, new, <i>shorter</i> link comes out!
		</p>
	</div>
	<div id="entry-form">
		<form action="/links" method="POST">
			<div>
				<label for="field-link">Enter Bulky Link</label>
			</div>
			<div>
				<input type="url" id="field-link" name="link">
			</div>
			<div>
				<button type="submit">Voodoo!</button>				
			</div>
		</form>
	</div>
</div>

