<!DOCTYPE html>
<html>
	<head>
		<title>Link Shortener</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="/normalize.css">
		<link rel="stylesheet" href="/main.css">
		<link href='https://fonts.googleapis.com/css?family=Flamenco' rel='stylesheet' type='text/css'>	
	</head>

	<body>
		<h1>Voodoo Link Shrinker</h1>

		<%- body %>

		<footer id="main-footer">
			Created by Seth Chute &copy;2016
		</footer>
	</body>
</html>