<h1>Something to render</h1>
	<ol>
	<%  var i = 0;
		var hashList = hashList;
		list.forEach(function(item){ %>
		<li><a href="http://localhost:3000/<%= hashList[i] %>">
		http://localhost:3000/<%= hashList[i] %></a>
		:    <%= item.dataValues.count %> Clicks!</li>
		<% i++; %>
	<% }); %>

	</ol>
