<div class="container links">
	<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
		
		<h1>URL Voodoo's Greatest Clicks</h1>
			<ol>
			<%  var i = 0;
				var hashList = hashList;
				list.forEach(function(item){ %>
				<li><a href="https://voodoo-links.herokuapp.com/<%= hashList[i] %>">
				https://voodoo-links.herokuapp.com/<%= hashList[i] %></a>
				:    <%= item.dataValues.count %> Clicks!</li>
				<% i++; %>
			<% }); %>

			</ol>
	</div>
</div>
