<div class="container show">
	<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
		
	
		<h1>Here's Your Voodo Shrunken Link</h1>

		<h2>Happy Sharing!</h2>

		<h2><a href="https://voodoo-links.herokuapp.com//<%= hash %>">https://voodoo-links.herokuapp.com/<%= hash %></a>
		</h2>

		<h3>This link has been clicked <%= clicks %> times!</h3>
	</div>

</div>