<div>
	<div>			
		<h1>Here's Your Voodoo Shrunken Link</h1>

		<h2>Happy Sharing!</h2>

		<h2><a href="https://voodoo-links.herokuapp.com/<%= hash %>">https://voodoo-links.herokuapp.com/<%= hash %></a>
		</h2>

		<h3>This link has been clicked <%= clicks %> times!</h3>
	</div>

</div>