<div>
	<div class="wrapper">			
		<h2>Here's Your Voodoo Shrunken Link</h2>

		<h2>Happy Sharing!</h2>

		<h2><a target="_blank" href="localhost:3000/<%= hash %>">https://voodoo-links.herokuapp.com/<%= hash %></a>
		</h2>

		<h3>This link has been clicked <%= clicks %> times!</h3>
	</div>

</div>