
<div class="wrapper">	
	<div  id="show-link">		
		<h2>Here's Your Voodoo Shrunken Link</h2>

		<h2>Happy Sharing!</h2>

		<h2><a href="http://localhost:3000/<%= hash %>" target="_blank">https://voodoo-links.herokuapp.com/<%= hash %></a>
		</h2>

		<h3>Click Count: <%= clicks %> </h3>
	</div>
</div>
